In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager

In [2]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 94.0.4606
Get LATEST driver version for 94.0.4606
There is no [win32] chromedriver for browser 94.0.4606 in cache
Get LATEST driver version for 94.0.4606
Trying to download new driver from https://chromedriver.storage.googleapis.com/94.0.4606.61/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\User\.wdm\drivers\chromedriver\win32\94.0.4606.61]

In [3]:
url = 'https://redplanetscience.com'
browser.visit(url)

## NASA Mars News

In [4]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')

# Retrieve first title
titles = soup.find_all('div', class_='content_title')

news_title = titles[0].get_text()
news_title

"What's Mars Solar Conjunction, and Why Does It Matter?"

In [5]:
# Retrieve paragraph text
paragraphs = soup.find_all('div', class_='article_teaser_body')

news_para = paragraphs[0].get_text()
print(news_para)

NASA spacecraft at Mars are going to be on their own for a few weeks when the Sun comes between Mars and Earth, interrupting communications.

## JPL Mars Space Images - Featured Image

In [6]:
# Navigate to image url
url = 'https://spaceimages-mars.com/'
browser.visit(url)

html = browser.html
soup = BeautifulSoup(html, 'html.parser')

In [7]:
# Assign image url to variable
featured_image_url = ''

browser.links.find_by_partial_text('FULL IMAGE').click()

html_img = browser.html
soup_img = BeautifulSoup(html_img, 'html.parser')

# Get image source
mars_image = soup_img.find('img', class_= 'fancybox-image').get('src')

featured_image_url = url + mars_image
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars1.jpg

## Mars Facts

In [13]:
url = 'https://galaxyfacts-mars.com/'
browser.visit(url)

mars_facts = pd.read_html(url)[1]

mars_facts

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:          2 ( Phobos & Deimos )
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [15]:
# Use Pandas to convert the data to a HTML table string
mars_html_table = mars_facts.to_html()

mars_html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 ( Phobos &amp; Deimos )</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

## Mars Hemispheres

In [14]:
url = 'https://marshemispheres.com/'
browser.visit(url)

# hemisphere_image_urls = [
#     {"title": "Valles Marineris Hemisphere", "img_url": "..."},
#     {"title": "Cerberus Hemisphere", "img_url": "https://marshemispheres.com/images/39d3266553462198bd2fbc4d18fbed17_cerberus_enhanced.tif_thumb.png"},
#     {"title": "Schiaparelli Hemisphere", "img_url": "https://marshemispheres.com/images/08eac6e22c07fb1fe72223a79252de20_schiaparelli_enhanced.tif_thumb.png"},
#     {"title": "Syrtis Major Hemisphere", "img_url": "..."},
# ]